.logo-image{
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
}

.logo-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo-section-button{
display: flex;
gap:20px;
height: 40px;

}

.footer-elements{

display: flex;
padding: 10px 200px;
text-decoration: none;
gap: 70px;
margin-top: 70px;
}

li, a{

list-style: none;
text-decoration: none;

}

.footer-icons{

    display: flex;
    gap: 10px;
}

.socials{
display: flex;
flex-direction: column;
justify-content: space-between;

}


.big-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-elm{

    display: flex;
    width: 1000px;
    height: 200px;

}
.button1{
border-radius: 60px;
padding: 10px;

}